<main>
  <div class="container my-5">
    <%= form_tag(pins_search_path, method: 'GET') do %>
      <div class="form-group">
        <label for="search" class="" for="q">Looking for something particular?</label>
        <div class="d-flex flex-row">
          <%= text_field_tag('q', nil, class: 'form-control', id: "search", placeholder: 'e.g. sunset') %>
          <%= button_tag('Search', class: 'btn btn-primary px-5') %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container my-5">
    <% if(@pins.any?) %>
      <h2>Latest pins</h2>
      <ul class="d-flex flex-wrap flex-row justify-content-start" style="padding-left: 0;">  
        <% @pins.each do |pin| %>
          <li class="list-group-item border-0 ">
            <%= render(partial: 'pin_card', locals: { card_title: pin.title, card_img: pin.image_url, card_tags: pin.tag, card_author: pin.user.email, pin: pin }) %>
          </li>
        <% end %>
      </ul>
      <div class="d-flex justify-content-center">
        <%= link_to('View all pins', pins_path, class: "btn btn-primary px-5") %>
      </div>
    <% else %>
      <h3>No pins found! </h3>
    <% end %>
  </div>

  

</main>