<div class="card" style="width: 16rem;">
  <%= link_to(pin_path(pin)) do %>
    <img class="card-img-top" src=<%= card_img %> alt="Card image">
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= card_title %></h5>
    <p class="card-text">Created by: <%= card_author %></p>
    <p class="card-text">Tags: <%= card_tags %></p>
  </div>
</div>