<!DOCTYPE html>
<html>
  <head>
    <title>Project3Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
   
  <% if(isLoggedIn()) %>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary d-flex justify-content-between">
      <div class="mr-auto p-2">
        <%= link_to('Pinterest', root_path, class: "navbar-brand") %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse p-2 justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <%= link_to('Pin List', user_pinlist_index_path(currentUser()), class: "nav-link") %>
          </li>
        </ul>
      </div>
    </nav>
  <% else %>  
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary d-flex justify-content-between">
      <div class="mr-auto p-2">
        <%= link_to('Pinterest', root_path, class: "navbar-brand") %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse p-2 justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <%= link_to('Login/Sign up', new_user_path(), class: "nav-link") %>
          </li>
        </ul>
      </div>
    </nav>
  <% end %>

    <%= yield %>
  </body>
</html>
